{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
<div class="media mt-4">
    <h1>Welcome to Wild Series! </h1>
    <h3 class="mt-4"> The best website to find out the latest news about
        <span {{ stimulus_controller('symfony/ux-typed', {
            strings: ['your ❤ Tv shows', 'your ❤  actors',' the last trended programs',]
        }) }}></span>  
    </h3>

    {{ include('program/_form.html.twig', {'button_label': 'Search'}) }}

    {% for program in programs %}
        <div>
            <h2 class="mt-4"> {{ loop.index}} / {{ program.title}} - Category: {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}"> see more </a>
        </div>
    {% else %}
        no TV shows found
    {% endfor %}

        <a href="{{ path('program_new') }}">Create new</a>
        
        <a href="{{ path('app_index') }}">
        Back to the hompage
    </a>
</div>
{% endblock %}