{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
<div class="media">
    <h1>Welcome!</h1>
    {% for program in programs %}
        <div>
            <h2 class="mt-4"> {{ loop.index}} / {{ program.title}} - Category: {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path("program_show", { slug: program.slug }) }}"> see more </a>
        </div>
    {% else %}
        no TV shows found
    {% endfor %}

        <a href="{{ path('program_new') }}">Create new</a>
        
        <a href="{{ path('app_index') }}">
        Back to the hompage
    </a>
</div>
{% endblock %}